@tailwind base;
@tailwind components;
@tailwind utilities;

code {
	@apply text-base overflow-x-auto px-[3px] py-[3px] font-mono rounded;
	font-feature-settings: normal;
	font-variation-settings: normal;
	color: #c9d1d9;
	background: #0d1117;
}

.rendered-markdown ul {
	list-style: disc;
	margin-left: 1rem;
}
.rendered-markdown ol {
	list-style: decimal;
	margin-left: 1rem;
}
